#Project


#Logs
*log*.*
*.log*

#Linux
*.directory

#QT
*.autosave
*.pro.user
*.pro.user*
*.user.*
*.user

#CLion
*.idea

#Editors
*~

#Libs
*.so.*
*.so
*.a
*.dll

#Objects
*.o

#Makestuff
Makefile
CMakeCache.txt
*.cmake
CMakeFiles/

#Other
*.cbp
